@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tulsa Discovery Lab default font */
@font-face {
  font-family: 'Brandon Grotesque Black';
  src: local('Brandon Grotesque Black'), url(fonts/brandon-grotesque-black.woff2) format('woff2');
}

:root,
#root {
  --blue: #00447d;
  --blue-light: #4ba6de;
  --white: #fff;
}

@layer base {
  body {
    background: var(--blue);
    font-family: "Brandon Grotesque Black", sans-serif;
  }

  h1 {
    font-size: 60px;
    text-transform: uppercase;
  }

  h2 {
    @apply text-xl;
  }
}
