@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tulsa Discovery Lab default font */
@font-face {
  font-family: 'Brandon Grotesque Black';
  src: local('Brandon Grotesque Black'), url(fonts/brandon-grotesque-black.woff2) format('woff2');
}

:root,
#root {
  --blue: #00447d;
  --blue-light: #4ba6de;
  --yellow: #ff0;
  --white: #fff;
}

@layer base {
  html {
    cursor: none !important;
  }

  body,
  html {
    height: 100%;
  }

  body {
    background: var(--blue);
    cursor: none;
    font-family: "Brandon Grotesque Black", sans-serif;
    overflow: hidden;
    user-select: none;
  }

  body button,
  body button:focus {
    border: none !important;
    cursor: none;
    outline: none !important;
    user-select: none !important;
  }

  img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  h1 {
    font-size: 60px;
    text-transform: uppercase;
  }

  h2 {
    @apply text-xl;
  }
}
